#main {
    width: 80%;
    height: 20%;
    background-color: aqua;
    margin: auto;
}

.main {
    width: 80%;
    height: 60%;
    background-color:blue;
    margin: auto;
}

.footer {
    width: 80%;
    height: 20%;
    background-color:blueviolet;
    margin: auto;
}